* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #191a1a;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
  margin: 20px;
}

p {
  color: white;
}

.App-header {
  background-color: #191a1a;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-justify: auto;
  align-content: center;
}

.logo {
  position: sticky;
  width: 7vw;
  height: 7vh;
}

.App-body {
  background-color: #191a1a;
}

.column-left {
  background-color: #191a1a;
  color: white;
  float: left;
  width: 25%;
  min-height: 88vh;
  align-items: center;
}

.dropdownChooser {
  width: 10vw;
  text-align: center;
}

.column-right {
  background-color: #606060;
  color: white;
  float: left;
  width: 75%;
  min-height: 88vh;
}

.mapContainer {
  position: absolute;
  width: 75vw;
  height: 88vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.App-footer {
  background-color: #191a1a;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 2vh;
}

.infoText {
  font-size: 20px;
  margin: 10px;
}

.stats {
  background-color: #414b55;
  color: white;
  font-size: calc(2px + 2vmin);
  align-self: center;
  margin-bottom: 2vh;
  margin-top: 10vh;
  margin-left: 25vw;
  margin-right: 0vw;
  width: 30.5%;
  height: 30%;
  border-radius: 12px;
}

th, td {
  padding-left: 5px;
  padding-right: 5px;
}

